$primaryColor: #c9b4a0;
$primaryTextColor:#ffffff;

$logoBgColor:#4b453d;
$topbarBgColor:#212121;
$topbarIconColor:#ffffff;
$topbarIconHoverBgColor:#4b453d;
$lightMenuitemActiveTextColor:#c9b4a0;
$darkMenuitemActiveTextColor:#fff;
$horizontalMenuitemActiveBgColor:#c9b4a0;
$horizontalMenuitemActiveTextColor:#ffffff;
$badgeBgColor:#c9b4a0;
$badgeTextColor:#ffffff;

@import '../../sass/layout/_layout';
